page-login {

  .logo {
    margin: auto;
    width: auto;
    display: block;
    img {
      border-radius: 50%;
    }
  }
  
  .invalid {
    border-bottom: 1px solid #b71c1c;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
    p {
      color: #b71c1c;
    }
  }
}